/* @font-face {
  font-family: "Manrope";
  src: local("Manrope");
  src: url("../public/assets/Fonts/subset-Manrope-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
@font-face {
  font-family: "AmpleSoft Pro";
  src: local("AmpleSoft Pro");
  src: url("../public/assets/Fonts/subset-AmpleSoftPro-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
