@font-face {
  font-family: "AmpleSoft Pro";
  src: url("../public/assets/Fonts/AmpleSoftPro-Bold.eot");
  src: local("AmpleSoftPro-Bold"),
    url("../public/assets/Fonts/AmpleSoftPro-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/Fonts/AmpleSoftPro-Bold.woff2") format("woff2"),
    url("../public/assets/Fonts/AmpleSoftPro-Bold.woff") format("woff"),
    url("../public/assets/Fonts/AmpleSoftPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AmpleSoft Pro";
  src: url("../public/assets/Fonts/AmpleSoftPro-Medium.eot");
  src: local("AmpleSoftPro-Medium"),
    url("../public/assets/Fonts/AmpleSoftPro-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/Fonts/AmpleSoftPro-Medium.woff2") format("woff2"),
    url("../public/assets/Fonts/AmpleSoftPro-Medium.woff") format("woff"),
    url("../public/assets/Fonts/AmpleSoftPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* @font-face {
  font-family: "AmpleSoft Pro";
  src: url("../public/assets/Fonts/AmpleSoftPro-Light.eot");
  src: local("AmpleSoftPro-Light"),
    url("../public/assets/Fonts/AmpleSoftPro-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/Fonts/AmpleSoftPro-Light.woff2") format("woff2"),
    url("../public/assets/Fonts/AmpleSoftPro-Light.woff") format("woff"),
    url("../public/assets/Fonts/AmpleSoftPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
} */

/* @font-face {
  font-family: "AmpleSoft Pro";
  src: url("../public/assets/Fonts/AmpleSoftPro-Thin.eot");
  src: local("AmpleSoftPro-Thin"),
    url("../public/assets/Fonts/AmpleSoftPro-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/Fonts/AmpleSoftPro-Thin.woff2") format("woff2"),
    url("../public/assets/Fonts/AmpleSoftPro-Thin.woff") format("woff"),
    url("../public/assets/Fonts/AmpleSoftPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
} */

/* @font-face {
  font-family: "AmpleSoft Pro";
  src: url("../public/assets/Fonts/AmpleSoftPro-ExtraLight.eot");
  src: local("AmpleSoftPro-ExtraLight"),
    url("../public/assets/Fonts/AmpleSoftPro-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/Fonts/AmpleSoftPro-ExtraLight.woff2") format("woff2"),
    url("../public/assets/Fonts/AmpleSoftPro-ExtraLight.woff") format("woff"),
    url("../public/assets/Fonts/AmpleSoftPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
} */

@font-face {
  font-family: "AmpleSoft Pro";
  src: url("../public/assets/Fonts/AmpleSoftPro-Regular.eot");
  src: local("AmpleSoftPro-Regular"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.woff2") format("woff2"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.woff") format("woff"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope-Regular"),
    url("../public/assets/Fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
/* @font-face {
  font-family: "Manrope";
  src: local("Manrope-SemiBold"),
    url("../public/assets/Fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
} */
@font-face {
  font-family: "Manrope";
  src: local("Manrope-Medium"),
    url("../public/assets/Fonts/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope-Light"),
    url("../public/assets/Fonts/Manrope-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* @font-face {
  font-family: "Manrope";
  src: local("Manrope-ExtraLight"),
    url("../public/assets/Fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
} */
@font-face {
  font-family: "Manrope";
  src: local("Manrope-Bold"),
    url("../public/assets/Fonts/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
