@font-face {
  font-family: "AmpleSoft Pro";
  src: url("../public/assets/Fonts/AmpleSoftPro-Regular.eot");
  src: local("AmpleSoftPro-Regular"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.woff2") format("woff2"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.woff") format("woff"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}
