/* @font-face {
  font-family: "AmpleSoft Pro";
  src: local("AmpleSoftPro-Bold"),
    url("../public/assets/Fonts/AmpleSoftPro-Bold.woff2") format("woff2");
  font-weight: bold;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "AmpleSoft Pro";
  src: local("AmpleSoftPro-Regular"),
    url("../public/assets/Fonts/AmpleSoftPro-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: local("Manrope-Light"),
    url("../public/assets/Fonts/Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Manrope";
  src: local("Manrope-Regular"),
    url("../public/assets/Fonts/Manrope-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
} */
