@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "AmpleSoft Pro";
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.14px;
  color: #ffffff;
  background-color: #080809;
}

@layer components {
  .mobile-button-color {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      linear-gradient(
        200.74deg,
        rgba(214, 211, 194, 0.2) 0%,
        rgba(92, 92, 92, 0.14) 100%
      );
  }
  .background-light {
    background: radial-gradient(
      99.07% 69.6% at 129.48% 82.56%,
      #c6b38a 0%,
      #f3c691 46.36%,
      #b4703e 100%
    );
    filter: blur(125px);
  }
  .gradient-brown-yellow {
    border-image-slice: 1;
    border-image-source: radial-gradient(
      99.07% 69.6% at 129.48% 82.56%,
      #c6b38a 0%,
      #f3c691 46.36%,
      #b4703e 100%
    );
  }
  .span-gradient {
    background: linear-gradient(
      270deg,
      rgba(38, 38, 38, 0) 0%,
      #f3c691 47.92%,
      rgba(38, 38, 38, 0) 100%
    );
  }
  .infocard-gradient {
    background: radial-gradient(
      99.07% 69.6% at 129.48% 82.56%,
      #c6b38a 0%,
      #f3c691 46.36%,
      #b4703e 100%
    );
  }
  .infocard-shadow {
    box-shadow: 0px 44px 74px -20px rgba(181, 115, 64, 0.21),
      inset -2.62px -1.618px 4.23916px rgba(250, 250, 250, 0.22);
  }
  .btn-hover-gradient {
    background: linear-gradient(324.99deg, #8d794c 29.37%, #ada785 97.59%);
  }
  .visible {
    opacity: 1;
    transition: all 1.2s;
    transform: translateY(0px);
  }

  .rightvisible {
    opacity: 1;
    transition: all 1.2s;
    transform: translateX(0px);
  }
  .rightoriginal {
    opacity: 0;
    transform: translateX(50px);
  }

  .original {
    opacity: 0;
    transform: translateY(50px);
  }
  @keyframes move-text-color {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-in;
  }
  .animate-fade-out {
    animation: fade-out 1s ease-out;
  }
  .animetedText {
    animation: move-text-color 0.5s forwards;
    opacity: 0;
  }
  .animetedSpan {
    animation: move-text-color 0.5s infinite;
  }
  .focusInput {
    outline: 0;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 1);
  }
  .connect {
    display: flex;
    gap: 20px;
  }
  .sheaker:not(:first-child) {
    padding-top: 80px;
  }

  .orangeb {
    border-radius: 20px;
    border: 1.5px solid var(--warning-600, #eea23e);
    background: rgba(255, 248, 235, 0.04);
  }

  * {
    scroll-behavior: smooth;
  }
  .anchor-heading {
    scroll-margin-top: -20vh;
    position: relative;
  }

  .anchor-heading::before {
    content: "";
    display: block;
    height: 50vh;
    margin-top: -50vh;
  }
  .left-bg {
    background: var(
      --roadmap-vertical-grad,
      linear-gradient(
        100deg,
        #b4703e 0%,
        #bc9163 47.92%,
        rgba(198, 179, 138, 0) 100%
      )
    );
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #222221 inset !important;
    border: 1px solid white;
    -webkit-text-fill-color: white !important;
    caret-color: white !important;
  }
}
