@import url(./fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "AmpleSoft Pro";
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.14px;
  color: #ffffff;
  background-color: #080809;
}

@layer components {
  .mobile-button-color {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      linear-gradient(
        200.74deg,
        rgba(214, 211, 194, 0.2) 0%,
        rgba(92, 92, 92, 0.14) 100%
      );
  }
  .background-light {
    background: radial-gradient(
      99.07% 69.6% at 129.48% 82.56%,
      #c6b38a 0%,
      #f3c691 46.36%,
      #b4703e 100%
    );
    filter: blur(125px);
  }
  .gradient-brown-yellow {
    border-image-slice: 1;
    border-image-source: radial-gradient(
      99.07% 69.6% at 129.48% 82.56%,
      #c6b38a 0%,
      #f3c691 46.36%,
      #b4703e 100%
    );
  }
  .span-gradient {
    background: linear-gradient(
      270deg,
      rgba(38, 38, 38, 0) 0%,
      #f3c691 47.92%,
      rgba(38, 38, 38, 0) 100%
    );
  }
}
